body {
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
	// font-family: Helvetica, sans-serif;
	margin-top: 20px;
}
.debug {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
#song-input {
	visibility: hidden;
	width: 0px;
	height: 0px;
}
#song-url-value {
	width: 580px;
	cursor: pointer;
}
button {
	font-size: 14px;
	cursor: pointer;
}
button.medium {
	width: 100px;
}
#wavesurfer-container {
	margin-bottom: 20px;
}
#wavesurfer-container > *, 
.block {
	min-width: 620px;
}
.row {
	overflow: hidden;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
.flex {
	display: -webkit-flex;
	height: 22px;
}
.expanded {
	-webkit-flex: 1;
	width: 100%;
}
.border-cell {
	height: 20px;
	border-style: solid;
	border-width: 1px;
	border-color: grey;
}
#waveform.brush-enabled wave wave,
#waveform.brush-enabled wave canvas {
	pointer-events: none;
}
#key-row {
	width: auto;
}
#key-pressed {
	width: 20px;
	text-align: center;
}
.class-outline {
	outline-style: solid;
	outline-width: 1px;
	outline-color: white;
}
.left, .right {
	display: inline-block;
}
.left {
	float: left;
}
.left * {
	margin-right: 10px;
}
.right {
	float: right;
}
.right * {
	margin-left: 10px;
}
.wrap {
	word-wrap: break-word;
}
.unloaded {
	display: none;
}
.scrolls {
	overflow-x: scroll;
}
.label {
	// font-size: 16px;
	dominant-baseline: middle;
	text-anchor: middle;
}
text.label {
	// font-family: Helvetica, sans-serif;
	// stroke: black;
	// stroke-width: 1px;
}
.block-rect {
	// stroke: white;
	// stroke-width: 1px;
	// opacity: 0.6;
	shape-rendering: crispEdges;
}
.brush.brush-disabled {
	pointer-events: none;
	visibility: hidden;
}
.brush .extent {
	fill: white;
	// fill-opacity: 0.6;
	stroke: black;
	stroke-width: 1px;
	// stroke: #fff;
	// fill-opacity: .125;
	shape-rendering: crispEdges;
}

.block-rect.class0,
.brush .extent.class0 {
	fill: white;
}
.block-rect.class1,
.brush .extent.class1 {
	fill: dodgerblue;
}
.block-rect.class2,
.brush .extent.class2 {
	fill: orange;
}
.class-outline.class1 {
	outline-color: dodgerblue;
}
.class-outline.class2 {
	outline-color: orange;
}
.class-text.class1 {
	color: dodgerblue;
}
.class-text.class2 {
	color: orange;
}
.plain-text {
	margin-bottom: 10px;
}
.plain-text span {
	margin-right: 20px;
}