body {
  margin-top: 20px;
}
button {
  cursor: pointer;
}
input[type="form"] {
  text-align: center;
}
body,
button,
input[type="form"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.inlineblock {
  display: inline-block;
}
.row {
  height: 30px;
  margin-bottom: 15px;
}
.left,
.right,
.center,
.flex {
  height: 30px;
  line-height: 30px;
}
.left,
.right {
  display: inline-block;
}
.left {
  float: left;
  margin-right: 15px;
}
.left * {
  margin-right: 15px;
}
.left *:last-child {
  margin-right: 0px;
}
.right {
  float: right;
}
.right button,
.right input {
  margin-left: 15px;
}
.center {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.center * {
  margin-right: 10px;
}
.center *:first-child {
  margin-left: 10px;
}
.flex {
  display: -webkit-flex;
}
.expanded {
  -webkit-flex: 1;
  width: 100%;
  overflow: hidden;
}
span.expanded {
  padding-left: 10px;
  padding-right: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.outlined,
.category-outlined {
  border: none;
  outline-style: solid;
  outline-width: 1px;
}
.outlined {
  outline-color: grey;
}
.category-outlined {
  outline-color: white;
}
.category-outlined.category0 {
  outline-color: blue;
}
.category-outlined.category1 {
  outline-color: mediumorchid;
}
.category-outlined.category2 {
  outline-color: orange;
}
.wrap {
  word-wrap: break-word;
}
.scrolls {
  overflow-x: scroll;
}
.label {
  dominant-baseline: middle;
  text-anchor: middle;
}
rect.block {
  cursor: pointer;
  shape-rendering: crispEdges;
  fill: white;
}
rect.block.category0.classified {
  fill: blue;
}
rect.block.category1.classified {
  fill: mediumorchid;
}
rect.block.category2.classified {
  fill: orange;
}
.brush .extent {
  stroke: black;
  stroke-width: 1px;
  stroke: red;
}
.brush rect {
  fill: white;
}
.brush.category0.classified rect.extent {
  fill: blue;
}
.brush.category1.classified rect.extent {
  fill: mediumorchid;
}
.brush.category2.classified rect.extent {
  fill: orange;
}
rect.group-marker {
  pointer-events: none;
  fill-opacity: 0;
  stroke: black;
  stroke-opacity: 0;
  stroke-width: 1px;
  shape-rendering: crispEdges;
}
rect.group-marker.current {
  stroke-opacity: 0.33;
}
.plain-text span {
  margin-right: 20px;
}
body:not(.loaded) > *.show-if-loaded,
body.loaded > *.hide-if-loaded {
  width: 0px;
  height: 0px;
  opacity: 0;
}
body.loaded > *.show-if-loaded,
body:not(.loaded) > *.hide-if-loaded {
  opacity: 1;
}
.disabled {
  position: relative;
  pointer-events: none;
}
.disabled::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: white;
  opacity: 0.9;
}
.debug {
  display: none;
}
.hidden {
  display: none;
}
.tiny {
  width: 20px;
  height: 30px;
}
.small {
  width: 30px;
  height: 30px;
}
.medium {
  width: 100px;
  height: 30px;
}
.large {
  width: 300px;
  height: 30px;
}
#track-url-value {
  cursor: pointer;
}
#svg-container {
  margin-bottom: 10px;
}
#wavesurfer-container {
  margin-left: 10px;
  margin-right: 10px;
}
#wavesurfer-container > *,
.solid {
  min-width: 350px;
  max-width: 620px;
}
#wavesurfer-container.brush-enabled wave wave,
#wavesurfer-container.brush-enabled wave canvas {
  pointer-events: none;
}
#key-pressed {
  text-align: center;
}
