body {
	font-size: 16px;
	font-family: "Courier New", Courier, monospace;
	// font-family: Helvetica, sans-serif;
}
button {
	font-size: 14px;
}
#waveform.brush-enabled wave wave,
#waveform.brush-enabled wave canvas {
	pointer-events: none;
}
.inline {
	display: inline-block;
}
.right {
	float: right;
}
.wrap {
	word-wrap: break-word;
}
.unloaded {
	visibility: hidden;
}
.scrolls {
	overflow-x: scroll;
}
.label {
	// font-size: 16px;
	dominant-baseline: middle;
	text-anchor: middle;
}
button.med-button {
	width: 100px;
}
text.label {
	// font-family: Helvetica, sans-serif;
	// stroke: black;
	// stroke-width: 1px;
}
.block-rect {
	// stroke: white;
	// stroke-width: 1px;
	// opacity: 0.6;
	shape-rendering: crispEdges;
}
.brush.brush-disabled {
	pointer-events: none;
	visibility: hidden;
}
.brush .extent {
	fill: white;
	// fill-opacity: 0.6;
	stroke: red;
	stroke-width: 1px;
	// stroke: #fff;
	// fill-opacity: .125;
	shape-rendering: crispEdges;
}

div.class2 {
	color: orange;
}
div.class1 {
	color: blue;
}
rect.class0,
.brush .extent.class0 {
	fill: white;
}
rect.class1,
.brush .extent.class1 {
	fill: blue;
}
rect.class2,
.brush .extent.class2 {
	fill: orange;
}