<html>
<head>
<meta charset='UTF-8' />
<title>Classer</title>
<link rel='stylesheet' type='text/css' href='../static/css/classer.css'></link>
</head>
<body>

<div class='block'>
	<div class='row'>
		<div class='left'><button class='medium outlined' id='track-load-button'>Load Track</button></div>
		<div class='right'><button class='medium outlined' id='track-clear-button'>Clear Track</button></div>
		<div class='flex'><span class='expanded outlined' id='track-url-value'></span></div>
		<input class='hidden' id='track-input' type='file'></input>
	</div>
</div>
<div class='block hide-if-loaded'>
	<div class='row'>
		<div class='center'><span id='loading-value'></span></div>
	</div>
</div>
<div class='show-if-loaded' id='wavesurfer-container'></div>
<div class='show-if-loaded' id='svg-container'>
	<svg><g></g></svg>
</div>
<div class='block show-if-loaded'>
	<div class='row'>
		<div class='left'><button class='medium outlined' id='play-pause-ws-button'>Play</button><span id='current-time'>0.0s</span></div>
		<div class='right'><button class='medium outlined' id='reset-ws-button'>Stop</button></div>
	</div>
	<!-- <div class='row'>
		<div class='left'><button class='medium outlined' id='interaction-mode-button'>Toggle Mode</button><span id='interaction-mode-text'></span></div>
	</div> -->
	<div class='row'>
		<div class='center class-outlined class0' id='key-color'><div class='inline-block'>Key Pressed:</div><div class='tiny inline-block' id='key-pressed'></div></div>
	</div>
	<!-- <div class='row settings'>
		<div class='left'>Zoom Level: x<span id='zoom-value'>2.0</span></div>
		<div class='flex'><input class='expanded' id='zoom-slider' type='range' min='1' max='10' step='0.1' value='2.0' /></div>
	</div> -->
	<div class='row settings'>
		<div class='left'>Playback Speed: x<span id='speed-value'>1.0</span></div>
		<div class='flex'><input class='expanded' id='speed-slider' type='range' min='0.1' max='3' step='0.1' value='1' /></div>
	</div>
	<div class='row settings'>
		<div class='left'><input class='medium class-outlined class1' id='class1-name-form' type='form' value='Laughter'></input><span>is key:</span><input class='small class-outlined class1' id='class1-form' type='form' size='1' maxlength='1' value='Z'></input></div>
	</div>
	<div class='row settings'>
		<div class='left'><input class='medium class-outlined class2' id='class2-name-form' type='form' value='Class2'  ></input><span>is key:</span><input class='small class-outlined class2' id='class2-form' type='form' size='1' maxlength='1' value='X'></input></div>
	</div>
	<div class='row'>
		<div class='left'>Class Counters: <span id='class-counters'></span></div>
	</div>
	<div class='row'>
		<div class='left'><button class='medium outlined' id='export-data-button'>Export Data</button></div>
	</div>
</div>
<div class='block debug' id='wavesurfer-debug'></div>

</body>
<!-- <script type='text/javascript' src='../static/js/d3.v3.min.js'></script> -->
<script type='text/javascript' src='../static/js/d3.v3.js'></script>
<script type='text/javascript' src='../static/js/jquery.min.js'></script>
<!-- <script type='text/javascript' src='../static/js/wavesurfer.min.js'></script> -->
<script type='text/javascript' src='../static/js/modified_wavesurfer_raw.js'></script>
<script type='text/javascript' src='../static/js/classer.js'></script>
</html>
