<html>
<head>
<meta charset='UTF-8' />
<title>Classer</title>
<link rel='stylesheet' type='text/css' href='../static/css/classer.css'></link>
</head>
<body>

<div class='solid'>
	<div class='row'>
		<div class='left'><button class='medium outlined' id='track-load-button'>Load Track</button></div>
		<div class='right'><button class='medium outlined' id='track-clear-button'>Clear Track</button></div>
		<div class='flex'><span class='expanded outlined' id='track-url-value'></span></div>
		<input class='hidden' id='track-input' type='file'></input>
	</div>
</div>
<div class='solid hide-if-loaded'>
	<div class='row'>
		<div class='center'><span id='loading-value'></span></div>
	</div>
</div>
<div class='show-if-loaded' id='wavesurfer-container'></div>
<div class='show-if-loaded' id='svg-container'>
	<svg><g></g></svg>
</div>
<div class='solid show-if-loaded'>
	<div class='row'>
		<div class='left'><button class='medium outlined' id='play-pause-ws-button'></button><span id='current-time'>0.0s</span></div>
		<div class='right'><button class='medium outlined' id='reset-ws-button'>Stop</button></div>
	</div>
	<div class='row'>
		<div class='center category-outlined'><div class='inlineblock'>Key Pressed:</div><div class='tiny inlineblock' id='key-pressed'></div></div>
	</div>
	<!-- <div class='row settings'>
		<div class='left'>Zoom Level: x<span id='zoom-value'>2.0</span></div>
		<div class='flex'><input class='expanded' id='zoom-slider' type='range' min='1' max='10' step='0.1' value='2.0' /></div>
	</div> -->
	<div class='row settings'>
		<div class='left'>Playback Speed: x<span id='speed-value'>1.0</span></div>
		<div class='flex'><input class='expanded' id='speed-slider' type='range' min='0.1' max='3' step='0.1' value='1' /></div>
	</div>
	<div class='row'>
		<div class='left'><button class='medium outlined' id='export-data-button'>Export Data</button></div>
	</div>
</div>
<div class='solid debug show-if-loaded' id='wavesurfer-debug'></div>

</body>
<!-- <script type='text/javascript' src='../static/js/d3.v3.min.js'></script> -->
<script type='text/javascript' src='../static/js/d3.v3.js'></script>
<script type='text/javascript' src='../static/js/jquery.min.js'></script>
<!-- <script type='text/javascript' src='../static/js/wavesurfer.min.js'></script> -->
<script type='text/javascript' src='../static/js/modified_wavesurfer_raw.js'></script>
<script type='text/javascript' src='../static/js/classer.js'></script>
</html>
