<html>
<head>
<meta charset='UTF-8' />
<title>Classer</title>
<link rel='stylesheet' type='text/css' href='../static/css/classer.css'></link>
</head>
<body>
<br>
<div id='initial-items'>
	<div class='inline'><button class='med-button' id='load-wavesurfer-button'>Load Song</button></div>
	<div class='inline'><input type='form' id='song-url-form' size='50' value=''></input></div>
	<div class='inline'><button class='med-button' id='defaults-button'>Defaults</button></div>
</div>
<div id='song-title' class='unloaded'></div>
<br>
<div id='wavesurfer-container' class='unloaded'>
	<div id='waveform'></div>
	<br>
	<div>
		<div class='inline'><button class='med-button' id='play-pause-ws-button'>Play Track</button></div>
		<div class='inline' id='current-time'>0.0s</div>
		<div class='inline right'><button class='med-button' id='reset-ws-button'>Reset Song</button></div>
	</div>
	<br>
	<div>
		<div class='inline'><button class='med-button' id='interaction-mode-button'>Toggle Mode</button></div>
		<div class='inline' id='interaction-mode-text'></div>
	</div>
	<br>
	<div>
		<div class='inline'><button class='med-button' id='export-data-button'>Export Data</button></div>
	</div>
	<br>
	<div>Zoom Level: x<div class='inline' id='zoom-value'>2.0</div></div>
	<div><input id='zoom-slider' type='range' min='1' max='10' step='0.1' value='2.0' style='width:100%' /></div>
	<br>
	<div>Playback Speed: x<div class='inline' id='speed-value'>1.0</div></div>
	<div><input id='speed-slider' type='range' min='0.1' max='3' step='0.1' value='1' style='width:100%' /></div>
	<br>
	<div>Key Pressed: <div class='inline' id='key-pressed'></div></div>
</div>
<br>
<br>
<div id='classer-settings' class='unloaded'>
	<div class='settings'>
		<div class='class1 inline'>Class 1</div> is key: <div class='inline' id='class1-label'>Z</div>&nbsp&nbsp<button id='class1-submit'>Change to:</button>&nbsp<input type='form' id='class1-form' size='1' maxlength='1' value=''></input>
	</div>
	<div class='settings'>
		<div class='class2 inline'>Class 2</div> is key: <div class='inline' id='class2-label'>X</div>&nbsp&nbsp<button id='class2-submit'>Change to:</button>&nbsp<input type='form' id='class2-form' size='1' maxlength='1' value=''></input>
	</div>
	<br>
	<div>Class Counters: <div class='inline' id='class-counters'></div></div>
</div>

</body>
<script type='text/javascript' src='../static/js/d3.v3.min.js'></script>
<script type='text/javascript' src='../static/js/jquery.min.js'></script>
<!-- <script type='text/javascript' src='../static/js/wavesurfer.min.js'></script> -->
<script type='text/javascript' src='../static/js/unminified_wavesurfer.js'></script>
<script type='text/javascript' src='../static/js/classer.js'></script>
</html>